<!-- Header Area Start -->
<header>
  <div class="header-main bg-white sticky-nav ">
    <div class="container position-relative">
      <div class="row">
        <div class="col-auto align-self-center">
          <div class="header-logo">
            <a routerLink="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
          </div>
        </div>
        <div class="col align-self-center d-none d-lg-block">
          <div class="main-menu">
            <ul>
              <!--              class="dropdown"-->
              <!--              class="fa fa-angle-down"-->
              <li ><a routerLink="/">Home <i ></i></a>
                <!--                <ul class="sub-menu">-->
                <!--                  <li><a href="index.html">Home 1</a></li>-->
                <!--                  <li><a href="index-2.html">Home 2</a></li>-->
                <!--                </ul>-->
              </li>
              <!--              <li><a href="about.html">About</a></li>-->
              <!--              <li class="dropdown position-static"><a href="about.html">Pages <i-->
              <!--                class="fa fa-angle-down"></i></a>-->
              <!--                <ul class="mega-menu d-block">-->
              <!--                  <li class="d-flex">-->
              <!--                    <ul class="d-block">-->
              <!--                      <li class="title"><a href="#">Inner Pages</a></li>-->
              <!--                      <li><a href="404.html">404 Page</a></li>-->
              <!--                      <li><a href="privacy-policy.html">Privacy Policy</a></li>-->
              <!--                      <li><a href="faq.html">Faq Page</a></li>-->
              <!--                      <li><a href="coming-soon.html">Coming Soon Page</a></li>-->
              <!--                    </ul>-->
              <!--                    <ul class="d-block">-->
              <!--                      <li class="title"><a href="#">Other Shop Pages</a></li>-->
              <!--                      <li><a href="cart.html">Cart Page</a></li>-->
              <!--                      <li><a href="checkout.html">Checkout Page</a></li>-->
              <!--                      <li><a href="compare.html">Compare Page</a></li>-->
              <!--                      <li><a href="wishlist.html">Wishlist Page</a></li>-->
              <!--                    </ul>-->
              <!--                    <ul class="d-block">-->
              <!--                      <li class="title"><a href="#">Related Shop Pages</a></li>-->
              <!--                      <li><a href="my-account.html">Account Page</a></li>-->
              <!--                      <li><a href="login.html">Login & Register Page</a></li>-->
              <!--                      <li><a href="empty-cart.html">Empty Cart Page</a></li>-->
              <!--                      <li><a href="thank-you-page.html">Thank You Page</a></li>-->
              <!--                    </ul>-->
              <!--                    <ul class="d-flex align-items-center p-0 border-0">-->
              <!--                      <li>-->
              <!--                        <a class="p-0" href="shop-left-sidebar.html"><img-->
              <!--                          class="img-responsive w-100"-->
              <!--                          src="assets/images/banner/menu-banner-1.jpg" alt=""></a>-->
              <!--                      </li>-->
              <!--                    </ul>-->
              <!--                  </li>-->
              <!--                </ul>-->
              <!--              </li>-->
              <li class="dropdown position-static"><a href="#">Category <i
                class="fa fa-angle-down"></i></a>

                <ul class="mega-menu d-block">
                  <!--                                  class="d-flex"-->
                  <li>
<!--                    <a [routerLink]="['/category', BookCategory.id]">-->
<!--                      {{ BookCategory.categoryName }}-->
<!--                    </a>-->
                    <!--                                    <ul class="d-block" >-->

                    <!--&lt;!&ndash;                                      <li class="title"><a href="#">Shop Page</a></li>&ndash;&gt;-->
                    <!--                                      <li><a href="shop-3-column.html">Shop 3 Column</a></li>-->
                    <!--                                      <li><a href="shop-4-column.html">Shop 4 Column</a></li>-->
                    <!--                                      <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>-->
                    <!--                                      <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>-->
                    <!--                                      <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>-->
                    <!--                                      </li>-->
                    <!--                                      <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>-->
                    <!--                                      </li>-->
                    <!--                                      <li><a href="cart.html">Cart Page</a></li>-->
                    <!--                                      <li><a href="checkout.html">Checkout Page</a></li>-->
                    <!--                                    </ul>-->
                    <!--                                    <ul class="d-block">-->
                    <!--                                      <li class="title"><a href="#">product Details Page</a></li>-->
                    <!--                                      <li><a href="single-product.html">Product Single</a></li>-->
                    <!--                                      <li><a href="single-product-variable.html">Product Variable</a></li>-->
                    <!--                                      <li><a href="single-product-affiliate.html">Product Affiliate</a></li>-->
                    <!--                                      <li><a href="single-product-group.html">Product Group</a></li>-->
                    <!--                                      <li><a href="single-product-tabstyle-2.html">Product Tab 2</a></li>-->
                    <!--                                      <li><a href="single-product-tabstyle-3.html">Product Tab 3</a></li>-->
                    <!--                                      <li><a href="single-product-slider.html">Product Slider</a></li>-->
                    <!--                                      <li><a href="single-product-gallery-left.html">Product Gallery Left</a>-->
                    <!--                                      </li>-->
                    <!--                                    </ul>-->
                    <!--                                    <ul class="d-block">-->
                    <!--                                      <li class="title"><a href="#">Single Product Page</a></li>-->
                    <!--                                      <li><a href="single-product-gallery-right.html">Product Gallery-->
                    <!--                                        Right</a> </li>-->
                    <!--                                      <li><a href="single-product-sticky-left.html">Product Sticky Left</a>-->
                    <!--                                      </li>-->
                    <!--                                      <li><a href="single-product-sticky-right.html">Product Sticky Right</a>-->
                    <!--                                      </li>-->
                    <!--                                      <li><a href="compare.html">Compare Page</a></li>-->
                    <!--                                      <li><a href="wishlist.html">Wishlist Page</a></li>-->
                    <!--                                      <li><a href="my-account.html">Account Page</a></li>-->
                    <!--                                      <li><a href="login.html">Login & Register Page</a></li>-->
                    <!--                                      <li><a href="empty-cart.html">Empty Cart Page</a></li>-->
                    <!--                                    </ul>-->
                    <!--                                    <ul class="d-flex align-items-center p-0 border-0">-->
                    <!--                                      <li>-->
                    <!--                                        <a class="p-0" href="shop-left-sidebar.html"><img-->
                    <!--                                          class="img-responsive w-100"-->
                    <!--                                          src="assets/images/banner/menu-banner-2.png" alt=""></a>-->
                    <!--                                      </li>-->
                    <!--                                    </ul>-->
                  </li>
                </ul>
              </li>
              <!--              <li class="dropdown "><a href="#">Blog <i class="fa fa-angle-down"></i></a>-->
              <!--                <ul class="sub-menu">-->
              <!--                  <li><a href="blog-grid.html">Blog Grid Page</a></li>-->
              <!--                  <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>-->
              <!--                  <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>-->
              <!--                  <li><a href="blog-single.html">Blog Single Page</a></li>-->
              <!--                  <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>-->
              <!--                  <li><a href="blog-single-right-sidebar.html">Single Right Sidbar</a>-->
              <!--                </ul>-->
              <!--              </li>-->
              <li><a routerLink="/">Contact</a></li>
            </ul>
          </div>
        </div>
        <!-- Header Action Start -->
        <div class="col col-lg-auto align-self-center pl-0">
          <div class="header-actions">
            <!-- Single Wedge Start -->
            <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">
              <i class="pe-7s-search"></i>
            </a>
            <!-- Single Wedge End -->
            <div class="header-bottom-set dropdown">
              <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                class="pe-7s-users"></i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="my-account.html">My account</a></li>
                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              </ul>
            </div>
            <!-- Container to inject the Okta Sign-In Widget -->
            <!--            <div class="pt=5">-->
            <!--              <div id="okta-sign-in-widget" class="pt-5"></div>-->
            <!--            </div>-->
<!--            <div class="login-status-header">-->

<!--              <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">-->
<!--                Welcome back {{ userFullName }}!-->
<!--              </div>-->

<!--              <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>-->

<!--              <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>-->

<!--            </div>-->
            <!-- Single Wedge Start -->
            <!--            <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">-->
            <!--              <i class="pe-7s-like"></i>-->
            <!--            </a>-->
            <!-- Single Wedge End -->
            <a href="#offcanvas-cart"
               class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
              <a routerLink="/cart-details">
                <i class="pe-7s-shopbag"></i>
              </a>
<!--              <div class="total">{{ totalPrice | currency: 'USD' }}-->
<!--                <span>{{ totalQuantity }}</span>-->
<!--              </div>-->
              <!--              <span class="header-action-num">01</span>-->
              <!--              <span class="header-action-num"></span>-->
              <!-- <span class="cart-amount">€30.00</span> -->
            </a>
            <a href="#offcanvas-mobile-menu"
               class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
              <i class="pe-7s-menu"></i>
            </a>
          </div>
          <!-- Header Action End -->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Area End -->
<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"> <label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="firstName.errors.required">
                    First Name is required
                  </div>

                  <div *ngIf="firstName.errors.minlength">
                    First Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>

                  <div *ngIf="lastName.errors.minlength">
                    Last Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="email.errors.required">
                    Email is required
                  </div>

                  <div *ngIf="email.errors.pattern">
                    Email must be a valid email address format
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"> <label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="country" type="text">
                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry.errors.required">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                    Street is required
                  </div>
                  <div *ngIf="shippingAddressStreet.errors.minlength">
                    Street must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                    City is required
                  </div>
                  <div *ngIf="shippingAddressCity.errors.minlength">
                    City must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="state" type="text">
                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState.errors.required">
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                    Zip code is required
                  </div>
                  <div *ngIf="shippingAddressZipCode.errors.minlength">
                    Zip code must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

<!--         Add check box to copy shipping to billing -->
<!--        <div class="input-space">-->
<!--          <label class="au-checkbox">-->
<!--            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">-->
<!--            <span class="au-checkmark"></span>Billing Address same as Shipping Address-->
<!--          </label>-->
<!--        </div>-->


<!--         Billing Address -->
<!--        <div formGroupName="billingAddress" class="form-area">-->
<!--          <h3>Billing Address</h3>-->

<!--          <div class="row">-->
<!--            <div class="col-md-2"> <label>Country</label></div>-->
<!--            <div class="col-md-9">-->
<!--              <div class="input-space">-->
<!--                <select formControlName="country">-->
<!--                  <option>TO DO</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row">-->
<!--            <div class="col-md-2"> <label>Street</label></div>-->
<!--            <div class="col-md-9">-->
<!--              <div class="input-space">-->
<!--                <input formControlName="street" type="text">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row">-->
<!--            <div class="col-md-2"> <label>City</label></div>-->
<!--            <div class="col-md-9">-->
<!--              <div class="input-space">-->
<!--                <input formControlName="city" type="text">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row">-->
<!--            <div class="col-md-2"> <label>State</label></div>-->
<!--            <div class="col-md-9">-->
<!--              <div class="input-space">-->
<!--                <select formControlName="state">-->
<!--                  <option>TO DO</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row">-->
<!--            <div class="col-md-2"> <label>Zip Code</label></div>-->
<!--            <div class="col-md-9">-->
<!--              <div class="input-space">-->
<!--                <input formControlName="zipCode" type="text">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--         Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"> <label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>
                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType.errors.required">
                    Credit card type is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Name on Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
              <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">
                <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                  Name is required
                </div>

                <div *ngIf="creditCardNameOnCard.errors.minlength">
                  Name must be at least 2 characters long
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNumber.errors.required">
                    Card number is required
                  </div>
                  <div *ngIf="creditCardNumber.errors.pattern">
                    Card number must be 16 digits long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardSecurityCode.errors.required">
                    Security code is required
                  </div>
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Security code must be 3 digits long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="expirationMonth" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="expirationYear" type="text">
              </div>
            </div>
          </div>

        </div>


        <!-- Order details -->
        <div class="form-area">
          <h3>Review Your Order</h3>

          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Purchase</button>
        </div>
        <div  id="myPaypalButtons"></div>
      </form>

    </div>
  </div>
</div>
<!-- Footer Area Start -->
<div class="footer-area">
  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Start single blog -->
          <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px">
            <div class="single-wedge">
              <h4 class="footer-herading">Information</h4>
              <div class="footer-links">
                <div class="footer-row">
                  <ul class="align-items-center">
                    <li class="li"><a class="single-link" href="about.html">About us</a></li>
                    <li class="li"><a class="single-link" href="#">Delivery information</a></li>
                    <!--                    <li class="li"><a class="single-link" href="privacy-policy.html">Privacy-->
                    <!--                      Policy</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">Sales</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">Terms & Conditions</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">Shipping Policy</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">EMI Payment</a></li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End single blog -->
          <!-- Start single blog -->
          <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px">
            <div class="single-wedge">
              <h4 class="footer-herading">Account</h4>
              <div class="footer-links">
                <div class="footer-row">
                  <ul class="align-items-center">
                    <li class="li"><a class="single-link" href="my-account.html"> My account</a>
                    </li>
                    <li class="li"><a class="single-link" href="cart.html">My orders</a></li>
                    <li class="li"><a class="single-link" href="#">Returns</a></li>
                    <!--                    <li class="li"><a class="single-link"-->
                    <!--                                      href="shop-left-sidebar.html">Shipping</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="wishlist.html">Wishlist</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">How Does It Work</a></li>-->
                    <!--                    <li class="li"><a class="single-link" href="#">Merchant Sign Up</a></li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End single blog -->
          <!-- Start single blog -->
          <!--          <div class="col-md-6 col-lg-2 col-sm-6 mb-sm-30px">-->
          <!--            <div class="single-wedge">-->
          <!--              <h4 class="footer-herading">Store </h4>-->
          <!--              <div class="footer-links">-->
          <!--                <div class="footer-row">-->
          <!--                  <ul class="align-items-center">-->
          <!--                    <li class="li"><a class="single-link" href="index.html">Affiliate</a></li>-->
          <!--                    <li class="li"><a class="single-link"-->
          <!--                                      href="shop-left-sidebar.html">Bestsellers</a></li>-->
          <!--                    <li class="li"><a class="single-link" href="#">Discount</a></li>-->
          <!--                    <li class="li"><a class="single-link" href="#">Latest products</a></li>-->
          <!--                    <li class="li"><a class="single-link" href="#">Sale</a></li>-->
          <!--                    <li class="li"><a class="single-link" href="#">All Collection</a></li>-->
          <!--                    <li class="li"><a class="single-link" href="contact.html">Contact Us</a>-->
          <!--                    </li>-->
          <!--                  </ul>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!-- End single blog -->
          <!-- Start single blog -->
          <!--          <div class="col-md-6 col-lg-4 col-sm-6 pl-120px line-shape">-->
          <!--            <div class="single-wedge ">-->

          <!--              <h4 class="footer-herading">Contact Us</h4>-->
          <!--              <div class="footer-links">-->
          <!--                &lt;!&ndash; News letter area &ndash;&gt;-->
          <!--                <p class="mail">If you have any question.please <br>-->
          <!--                  contact us at <a href="mailto:demo@example.com">demo@example.com</a> </p>-->
          <!--                <p class="address"><i class="pe-7s-map-marker"></i> <span>Your address goes here.-->
          <!--                                            <br>-->
          <!--                                            123, Address.</span> </p>-->
          <!--                <p class="phone m-0"><i class="pe-7s-phone"></i><span><a href="tel:0123456789">+ 0-->
          <!--                                                123-->
          <!--                                                456 789</a> <br> <a href="tel:0123456789">+ 0 123 456 789</a></span></p>-->

          <!--                &lt;!&ndash; News letter area  End &ndash;&gt;-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!-- End single blog -->
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="line-shape-top">
          <div class="row flex-md-row-reverse align-items-center">
            <div class="col-md-6 text-center text-md-end">
              <div class="payment-mth"><a href="#"><img class="img img-fluid"
                                                        src="assets/images/icons/payment.png" alt="payment-image"></a></div>
            </div>
            <div class="col-md-6 text-center text-md-start">
              <p class="copy-text"> © 2022 <strong>Duy Book Store</strong> Made With <i class="fa fa-heart"
                                                                                        aria-hidden="true"></i>
                <!--                <strong> HasThemes</strong></a>.</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Area End -->

<!-- Search Modal Start -->
<div class="modal popup-search-style" id="searchActive">
  <button type="button" class="close-btn" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
  <div class="modal-overlay">
    <div class="modal-dialog p-0" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Search Your Product</h2>
          <form class="navbar-form position-relative" role="search">
            <div class="form-group">
              <input  type="text" class="form-control" placeholder="Search here...">
            </div>
            <button class="au-btn-submit" data-bs-dismiss="modal" type="submit" class="submit-btn"><i class="pe-7s-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Modal End -->


<!-- Modal -->
<div class="modal modal-2 fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/zoom-image/1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/zoom-image/2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/zoom-image/3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/zoom-image/4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/zoom-image/5.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs mt-20px">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/small-image/1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/small-image/2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/small-image/3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/small-image/4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       src="assets/images/product-image/small-image/5.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
            <div class="product-details-content quickview-content">
              <h2>Hand-Made Garlic Mortar</h2>
              <div class="pricing-meta">
                <ul class="d-flex">
                  <li class="new-price">$20.90</li>
                  <li class="old-price"><del>$30.90</del></li>
                </ul>
              </div>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
              </div>
              <div class="stock mt-30px">
                                    <span class="avallabillty">Availability: <span class="in-stock"><i
                                      class="fa fa-check"></i>In Stock</span></span>
              </div>
              <p class="mt-30px mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmodol tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
                nostrud exercitation ullamco laboris </p>
              <div class="pro-details-quality">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                </div>
                <div class="pro-details-cart">
                  <button class="add-cart"> Add To
                    Cart</button>
                </div>
                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                  <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                </div>
              </div>
              <div class="pro-details-categories-info pro-details-same-style d-flex">
                <span>Categories: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#">Handmade, </a>
                  </li>
                  <li>
                    <a href="#">Furniture, </a>
                  </li>
                  <li>
                    <a href="#">Decore</a>
                  </li>
                </ul>
              </div>
              <div class="pro-details-social-info pro-details-same-style d-flex">
                <span>Share: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <div class="payment-img">
                <a href="#"><img src="assets/images//icons/payment.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
