<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/template::head('Furama')}"></head>
<body>
<div id="wrap">

    <div th:id="main">
            <div th:replace="~{/template::nav}"></div>


            <div >
                    <h1 style="text-align: center; font-size: 50px; color: royalblue" >New Customer</h1>
                    <form class="container" th:action="@{/customer/create}" method="post" th:object="${customer}" enctype="multipart/form-data">


                        <div class="form-row">
                            <div class="col-lg-6 mb-4">
                                <label>Id <span class="red"> (*)</span> </label>
                                <input  readonly th:field="*{customerId}"  type="text" class="form-control">
                                <span th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}" class="red"></span>

                            </div>
                            <div class="col-lg-6 mb-4">
                                <label>Name <span class="red"> (*)</span> </label>
                                <input th:field="*{customerName}"  type="text" class="form-control">
                                <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="red"></span>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-6 mb-4">
                                <label>Ngay sinh</label>
                                <input th:field="*{customerBirthday}" name="customer_birthday" type="date" class="form-control"
                                       placeholder="dd-MM-yyyy" min="1997-01-01" max="2030-12-31" required>
                                <span th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}" class="red"></span>
                            </div>

                            <div class="col-lg-6 mb-4">
                                <label>Type Customer<span class="red"> (*)</span> </label>
                                <select th:field="*{customerType.id}" class="form-control">
                                    <option th:each="o : ${customerTypes}"
                                            th:value="${o.id}"
                                            th:text="${o.name}"
                                            th:selected="${ o.id == (customer.customerType.id ) }" />
                                </select>
                            </div>
                        </div>




                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <label>CardId</label>
                                <input th:field="*{customerCardId}"  type="number" class="form-control" required>
                                <span th:if="${#fields.hasErrors('customerCardId')}" th:errors="*{customerCardId}" class="red" ></span>
                            </div>

                            <div class="col-md-4 mb-4">
                                <label>Phone</label>
                                <input th:field="*{customerPhone}"  type="text" class="form-control" required>
                                <span th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" class="red" ></span>

                            </div>


                            <div class="col-lg-4 mb-4">
                                <label>Gender <span class="red"> (*)</span> </label>
                                <div class="form-line">
                                    <input type="radio" th:field="*{customerGender}" th:value="true" id="male" th:selected="*{customerGender}"  >
                                    <label  for="male"> Male</label>

                                    <input type="radio" th:field="*{customerGender}" th:value="false" id="female" th:selected="*{!customerGender}" >
                                    <label  for="female"> Female </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-lg-12 mb-6">
                                <label>customerEmail <span class="red"> (*)</span> </label>
                                <input th:field="*{customerEmail}"  type="text" class="form-control">
                                <span th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" class="red"></span>

                            </div>
                            <div class="col-lg-12 mb-6">
                                <label>customerAddress <span class="red"> (*)</span> </label>
                                <input th:field="*{customerAddress}"  type="text" class="form-control">
                                <span th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}" class="red"></span>
                            </div>
                        </div>



                        <input type="submit" class="btn btn-outline-success my-2 my-lg-0" value="Save">
                        <input type="button" class="btn btn-outline-success my-2 my-lg-0" value="Go Back" onclick="history.back()"/>


                    </form>
            </div>
    </div>
</div>

<footer th:replace="~{/template::footer}"></footer>
</body>
</html>