<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="bootstrap413/css/bootstrap.css">&ndash;&gt;-->
<!--</head>-->
<body>
<div class="p-5">
  <h1 class="text-center text-danger" *ngIf="id === 0">Customer Create</h1>
  <h1 class="text-center text-danger" *ngIf="id > 0">Customer Edit</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" #f="ngForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tên</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div *ngFor="let validation of validationMessages.name">
          <div *ngIf="name.hasError(validation.type) && (name.touched || f.submitted)"
               class="text-danger">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Giới tính</label>
      <div class="col-sm-10">
        <input type="radio" name="gender" [value]="true" formControlName="gender" id="male">
        <label for="male">Nam</label>
        <input type="radio" name="gender" [value]="false" formControlName="gender" id="female">
        <label for="female">Nữ</label>
      </div>
    </div>

<!--    <label class="col-sm-2 col-form-label">Giới Tính</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input type="radio" formControlName="gender" name="gender" [value]="true">-->
<!--      <label>Nam</label>-->
<!--      <input type="radio" formControlName="gender" name="gender" [value]="false">-->
<!--      <label>Nữ</label>-->
<!--    </div>-->

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">CMND/CCCD:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="identity">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div *ngFor="let validation of validationMessages.identity">
          <div *ngIf="identity.hasError(validation.type) && (identity.touched || f.submitted)"
               class="text-danger">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Số điện thoại:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="phone_number">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div *ngFor="let validation of validationMessages.phone_number">
          <div *ngIf="phone_number.hasError(validation.type) && (phone_number.touched || f.submitted)"
               class="text-danger">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div *ngFor="let validation of validationMessages.email">
          <div *ngIf="email.hasError(validation.type) && (email.touched || f.submitted)"
               class="text-danger">{{validation.message}}</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="address">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
<!--      <div class="col-sm-10">-->
<!--        <div *ngFor="let validation of validationMessages.email">-->
<!--          <div *ngIf="email.hasError(validation.type) && (email.touched || f.submitted)"-->
<!--               class="text-danger">{{validation.message}}</div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

<!--    <div>-->
<!--      <label>Address:</label>-->
<!--      <input type="text" formControlName="address">-->
<!--    </div>-->
<!--    <div *ngIf="this.form.get('address').hasError('required') && (this.form.get('address').touched || f.submitted)">-->
<!--      Địa chỉ ko được để trống-->
<!--    </div>-->

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Loại Khách Hàng:</label>
      <div class="col-sm-10">
        <select formControlName="customer_type" [compareWith]="compare">
          <option [selected]="true" value="null" disabled>Chọn Loại Khách Hàng</option>
          <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">{{customerType.name}}</option>
        </select>
      </div>
    </div>


    <div class="d-flex align-items-end justify-content-end">
      <button type="submit" class="btn btn-success m-5">Save</button>
    </div>
  </form>
</div>
</body>
<!--</html>-->
