<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<form action="/className/create" method="post" th:object="${className}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
<!--    <div>-->
<!--        <label>ClassName</label>-->
<!--        <select th:field="*{className}">-->
<!--            <option th:each="className: ${classNames}" th:text="${className.className}" th:value="${className.classId}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
    <button type="submit">Create</button>
</form>
</body>
</html>