
<body>
<div class="d-flex justify-content-between">

  <h1>Danh sách khách hàng</h1>
<!--  <div class="d-flex">-->
<!--    <input type="text" class="form-control mx-3" placeholder="Tìm kiến theo tên" style="width: 400px">-->
<!--    <button class="btn btn-outline-success">Search</button>-->
<!--  </div>-->
</div>
<div class="w3-container">
<div>
  <button class="btn btn-success my-4" routerLink="/customer/create">Create</button>
  <input type="text" [(ngModel)]="searchText">
  <button type="submit" (click)="search()">Search</button>
  <table class="table table-striped">
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giới tính</th>
      <th>CMND</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>Địa chỉ</th>
      <th>Loại khách hàng</th>
      <th class="text-center">Action</th>
    </tr>
    <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 3, currentPage: p }; let i = index" >
      <td>{{i + 1 + (p-1) * 3}}</td>
      <td>{{customer.name}}</td>
      <td *ngIf="customer.gender">Nam</td>
      <td *ngIf="!customer.gender">Nữ</td>
      <td>{{customer.identity}}</td>
      <td>{{customer.phone_number}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customer_type.name}}</td>
      <td>
        <button class="btn btn-warning" [routerLink]="['customer/edit', customer.id]">Edit</button>
        <button class="btn btn-danger" style="margin-left: 8px" data-toggle="modal" data-target="#modalDelete"
                (click)="findCustomerDelete(customer.id)">Delete</button>
      </td>
    </tr>
  </table>
  <div class="d-flex align-items-end justify-content-end">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xoá Khách Hàng này không?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Tên: {{customerDelete?.name}}</div>
        <div>CMND/CCCD: {{customerDelete?.identity}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<!--</html>-->
