<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete employee</title>
</head>
<body>
<h1>Delete?</h1>
<h2>Are you sure?</h2>
<input type="hidden" th:field="${customer.customerId}">
<div>
    Customer Name: <p th:text="${customer.customerName}"></p>
    Customer Phone: <p th:text="${customer.customerPhone}"></p>
    Do you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn bg-danger"
        th:onclick="'javascript:actionDelete(\''+${customer.customerId}+'\');'">Delete
</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</body>
</html>