<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" id="searchTable">
    <!--    <form action="/furama/customer/list" method="post">-->
    <!--        <div class="form-group" style="margin-top: 30px">-->
    <!--            <input type="hidden" name="action" value="search">-->
    <!--            <input type="text" class="form-control" id="name" placeholder="Enter name" name="searchName">-->
    <!--        </div>-->
    <!--        <button type="submit" class="btn btn-primary">Search By Name</button>-->
    <!--    </form>-->
    <table id="customer" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">customer_id</th>
            <th scope="col">customer_name</th>
            <th scope="col">customer_birthday</th>
            <th scope="col">customer_gender</th>
            <th scope="col">customer_id_card</th>
            <th scope="col">customer_phone</th>
            <th scope="col">customer_email</th>
            <th scope="col">customer_type_id</th>
            <th scope="col">customer_address</th>
            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="customer : ${customers}" id="result">
            <tr>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerBirthday}"></td>
                <td th:text="${customer.customerGender}"></td>
                <td th:text="${customer.customerIdCard}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td scope="col">
                    <button class="btn btn-danger btnModalView">View</button>
                    <input type="hidden" th:value="${customer.customerId}">
                    <a class="btn btn-outline-dark"
                       th:href="@{/furama/customer/edit/__${customer.customerId}__ }">Edit</a>

                    <button type="button" class="btn btn-dark" id="btnModalDelete"
                            th:onclick="'javascript:showDelete(\''+ ${customer.customerId} +'\');'">Delete
                    </button>
                </td>
            </tr>
        </th:block>

        </tbody>
    </table>
<!--    <a href="/furama/customer/create" class="btn btn-warning">Add new customer</a>-->
<!--    <a href="/furama/customer/list" class="btn btn-warning">Back to menu</a>-->
</div>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>