<h2 class="text-center">
  Todo App
</h2>
<form class="col-md-8 offset-md-2" [formGroup]="contentInput" (ngSubmit)="change()">
  <input type="text" class="form-control" formControlName="content">
  <input type="hidden" formControlName="complete">
  <button type="submit">Create</button>
</form>
<div style="margin-left: 250px; margin-top: 20px">
    <ul>
      <li *ngFor="let todo of todos"
          (click)="toggleTodo(todo.id)"
          [class.complete]="todo.complete">
        {{todo.id}}.
        {{todo.content}} <span><button (click)="delete(todo.id)">Delete</button></span>
      </li>
    </ul>
</div>

