<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${song}" action="/edit" method="post">
    <span hidden>
        Song ID<input th:field="*{songId}"><br>
    </span>
    Name Song<input th:field="*{songName}"><br>
    Artist<input th:field="*{artist}"><br>
    Genre<input th:field="*{genre}"><br>
    Link<input th:field="*{link}"><br>
    <!--    Classroom Student<input th:field="*{classroom}"><br>-->
    <button type="submit">Edit</button>
    <!--    <p th:text="${mess}"></p>-->
    <!--    Class Student<input th:field="*{listClass}"><br>-->
</form>
</body>
</html>