<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h3>Detail Employee</h3>
<div id="detail">
    <div class="cusdetail">
        <label>Id: </label>
        <label th:text="${employee.employeeId}"></label>
    </div>
    <div class="cusdetail">
        <label>Name: </label>
        <label th:text="${employee.employeeName}"></label>
    </div>
    <div class="cusdetail">
        <label>BirthDay: </label>
        <label th:text="${employee.employeeBirthDay}"></label>
    </div>
    <div class="cusdetail">
        <label>Id Card: </label>
        <label th:text="${employee.employeeIdCard}"></label>
    </div>
    <div class="cusdetail">
        <label>Salary: </label>
        <label th:text="${employee.employeeSalary}"></label>
    </div>
    <div class="cusdetail">
        <label>Phone: </label>
        <label th:text="${employee.employeePhone}"></label>
    </div>
    <div class="cusdetail">
        <label>Email: </label>
        <label th:text="${employee.employeeEmail}"></label>
    </div>
    <div class="cusdetail">
        <label>Address: </label>
        <label th:text="${employee.employeeAddress}"></label>
    </div>
    <div class="cusdetail">
        <label>Employee position: </label>
        <label th:text="${employee.position.positionName}"></label>
    </div>
    <div class="cusdetail">
        <label>Employee Type: </label>
        <label th:text="${employee.educationDegree.educationDegreeName}"></label>
    </div>
    <div class="cusdetail">
        <label>Employee Type: </label>
        <label th:text="${employee.division.divisionName}"></label>
    </div>
    <div class="cusdetail">
        <label>User: </label>
        <label th:text="${employee.user}"></label>
    </div>
</div>
</body>
</html>